.section{
  cursor:pointer;
  background-color: #0B2027;
  color: white;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

div#personal-info, div#educational-experience,
div#practical-experience{
    align-self:center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

div#personal-info{
    grid-column: 1/2;
    grid-row: 2/3;
}

div#educational-experience{
    grid-column: 2/3;
    grid-row: 2/3;
}

div#practical-experience{   
    grid-column: 3/4;
    grid-row: 2/3;
}

svg.svg-inline--fa.fa-1,
svg.svg-inline--fa.fa-2,
svg.svg-inline--fa.fa-3{
  font-size: 4rem;
  border-radius: 3px;
}